*.sdf
*.opensdf
report.txt
*.suo

Emustm32z80/VS2013/Debug/report.txt
EMUstm32z80/VS2013/Z80decompil/report.txt

EMUstm32z80/VS2013/EMUstm32z80/Debug/
EMUstm32z80/VS2013/EMUstm32z80/ipch/
EMUstm32z80/Objects/
EMUstm32z80/Listings/
EMUstm32z80/VS2013/Z80decompil/Debug/
EMUstm32z80/VS2013/Z80debugger/Debug/
Emustm32z80/VS2013/Debug/
